In [43]:
#Q1
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/Main_Page"
response = requests.get(url)
 
soup = BeautifulSoup(response.content)

header_tags = soup.find_all(["h1", "h2", "h3", "h4", "h5", "h6"])

header_texts = [tag.get_text() for tag in header_tags]

df = pd.DataFrame(header_texts, columns=["Header"])

df

                           Header
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6      From today's featured list
7        Today's featured picture
8        Other areas of Wikipedia
9     Wikipedia's sister projects
10            Wikipedia languages

In [8]:
#Q3
#Top 10 teams
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response = requests.get(url)
soup = BeautifulSoup(response.content)

team_data = []
table = soup.find("table", class_="table")
rows = table.find_all("tr")

for row in rows[1:11]:
  cells = row.find_all("td")
  team = cells[1].text.strip()
  matches = cells[2].text.strip()
  points = cells[3].text.strip()
  rating = cells[4].text.strip()
  team_data.append({"Team":team,"Matches":matches,"Points":points,"Rating":rating})
    
df=pd.DataFrame(team_data)
df

               Team Matches Points Rating
0        India\nIND      55  6,640    121
1    Australia\nAUS      42  4,926    117
2  South Africa\nSA      34  3,750    110
3     Pakistan\nPAK      36  3,922    109
4   New Zealand\nNZ      43  4,399    102
5      England\nENG      38  3,777     99
6     Sri Lanka\nSL      47  4,134     88
7   Bangladesh\nBAN      44  3,836     87
8  Afghanistan\nAFG      30  2,533     84
9   West Indies\nWI      38  2,582     68

In [9]:
#Top 10 batsmen

url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
response=requests.get(url)
soup=BeautifulSoup(response.content)

batsmen_data=[]
table=soup.find("table",class_="table rankings-table")
rows = table.find_all("tr")

for row in rows[1:11]:
  cells = row.find_all("td")
  batsmen = cells[1].text.strip()
  team=cells[2].text.strip()
  rating = cells[3].text.strip()
  batsmen_data.append({"Team":team,"Batsmen":batsmen,"Rating":rating})
    
df=pd.DataFrame(batsmen_data)
df

  Team                Batsmen Rating
0  IND           Shubman Gill    826
1  PAK             Babar Azam    824
2  IND            Virat Kohli    791
3  IND           Rohit Sharma    769
4   SA        Quinton de Kock    760
5   NZ         Daryl Mitchell    750
6  AUS           David Warner    745
7   SA  Rassie van der Dussen    735
8  IRE           Harry Tector    729
9  ENG            Dawid Malan    729

In [10]:
#Top10 Blowers

url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
response=requests.get(url)
soup=BeautifulSoup(response.content)

bowlers_data=[]
table=soup.find("table",class_="table rankings-table")
rows = table.find_all("tr")

for row in rows[1:11]:
  cells = row.find_all("td")
  bowlers = cells[1].text.strip()
  team=cells[2].text.strip()
  rating = cells[3].text.strip()
  bowlers_data.append({"Team":team,"Bowlers":bowlers,"Rating":rating})
    
df=pd.DataFrame(bowlers_data)
df

  Team         Bowlers Rating
0   SA  Keshav Maharaj    741
1  AUS  Josh Hazlewood    703
2  IND  Mohammed Siraj    699
3  IND  Jasprit Bumrah    685
4  AUS      Adam Zampa    675
5  AFG     Rashid Khan    667
6  IND   Kuldeep Yadav    667
7   NZ     Trent Boult    663
8  PAK  Shaheen Afridi    650
9  IND  Mohammad Shami    648

In [11]:
#Q4
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
response=requests.get(url)
soup=BeautifulSoup(response.content)

womens_team=[]
table=soup.find("table",class_="table")
rows=table.find_all("tr")

for row in rows[1:11]:
    cells=row.find_all("td")
    team=cells[1].text.strip()
    matches=cells[2].text.strip()
    point=cells[3].text.strip()
    rating=cells[4].text.strip()
    womens_team.append({"Team":team,"Matches":matches,"Point":point,"Rating":rating})

df=pd.DataFrame(womens_team)
df

               Team Matches  Point Rating
0    Australia\nAUS      21  3,429    163
1      England\nENG      23  2,991    130
2  South Africa\nSA      21  2,446    116
3        India\nIND      18  1,745     97
4   New Zealand\nNZ      21  2,014     96
5   West Indies\nWI      20  1,768     88
6     Sri Lanka\nSL       9    714     79
7   Bangladesh\nBAN      14  1,074     77
8     Thailand\nTHA      11    753     68
9     Pakistan\nPAK      24  1,602     67

In [18]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
response=requests.get(url)
soup=BeautifulSoup(response.content)

batting_data=[]
table = soup.find("table", class_="table rankings-table")
rows  = table.find_all("tr")

for row in rows[1:11]:
    cells = row.find_all("td")
    player = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    batting_data.append({"Player":player,"Team":team,"Rating":rating})
    
df=pd.DataFrame(batting_data)
print("####TOP 10 Batswomen####")
df

####TOP 10 Batswomen####

                 Player Team Rating
0  Natalie Sciver-Brunt  ENG    807
1           Beth Mooney  AUS    750
2   Chamari Athapaththu   SL    736
3       Laura Wolvaardt   SA    727
4       Smriti Mandhana  IND    708
5          Alyssa Healy  AUS    698
6          Ellyse Perry  AUS    697
7      Harmanpreet Kaur  IND    694
8           Meg Lanning  AUS    662
9        Marizanne Kapp   SA    642

In [17]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
response=requests.get(url)
soup=BeautifulSoup(response.content)

allrounder_data=[]
table = soup.find("table", class_="table rankings-table")
rows  = table.find_all("tr")

for row in rows[1:11]:
    cells = row.find_all("td")
    all_rounder = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    allrounder_data.append({"All_Rounder":all_rounder,"Team":team,"Rating":rating})
    
df=pd.DataFrame(allrounder_data)
print('#####Top 10 all-rounders#####')
df

#####Top 10 all-rounders#####

            All_Rounder Team Rating
0        Marizanne Kapp   SA    385
1      Ashleigh Gardner  AUS    377
2  Natalie Sciver-Brunt  ENG    360
3       Hayley Matthews   WI    358
4           Amelia Kerr   NZ    346
5         Deepti Sharma  IND    312
6          Ellyse Perry  AUS    282
7              Nida Dar  PAK    240
8         Jess Jonassen  AUS    227
9         Sophie Devine   NZ    227

In [29]:
#Q5
url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)
soup = BeautifulSoup(response.content)
articles = soup.find_all("div", class_="Card-titleContainer")

headlines = []
times = []
links = []

for article in articles:
  headline = article.find("a").text.strip()
  headlines.append(headline)
  link = article.find("a")["href"]
  links.append(link)

df=pd.DataFrame({"Headline":headlines,"Link":links})
df

,Headline,Link
0,"Stocks making the biggest moves midday: Tesla,...",https://www.cnbc.com/2023/12/01/stocks-making-...
1,"Dow jumps 200 points, building on 2023 gains a...",https://www.cnbc.com/2023/11/30/stock-market-t...
2,Fed Chair Powell calls talk of cutting rates '...,https://www.cnbc.com/2023/12/01/fed-chair-powe...
3,Treasury yields fall even as Powell says rate-...,https://www.cnbc.com/2023/12/01/us-treasury-yi...
4,Bill Gates warns the world is likely to smash ...,https://www.cnbc.com/2023/12/01/bill-gates-war...
5,UAE commits $30 billion to new climate-focused...,https://www.cnbc.com/2023/12/01/uae-commits-30...
6,Progress on sustainability in the fashion indu...,https://www.cnbc.com/video/2023/12/01/sustaina...
7,Estonian PM calls on global powers to emulate ...,https://www.cnbc.com/video/2023/12/01/estonian...
8,Bill Gates shares his ‘big hope’ for the COP28...,https://www.cnbc.com/2023/12/01/bill-gates-sha...
9,"Op-ed: With continued geopolitical conflicts, ...",https://www.cnbc.com/2023/12/01/op-ed-war-is-a...
10,"Zelenskyy says 'new phase of war' has begun, H...",https://www.cnbc.com/2023/12/01/russia-ukraine...
11,Multiple civilians injured in strikes on Ukrai...,https://www.cnbc.com/2023/11/30/ukraine-war-li...
12,"Russia slams Finland's border closure, warns t...",https://www.cnbc.com/2023/11/29/ukraine-war-li...
13,Finland to close entire border with Russia; wi...,https://www.cnbc.com/2023/11/28/ukraine-war-li...
14,CNBC's Sustainable Future Forum 2023,https://www.cnbc.com/2023/11/29/cnbcs-sustaina...
15,Wind power industry in moment of reckoning as ...,https://www.cnbc.com/2023/11/13/wind-power-ind...
16,CEO on why natural gas infrastructure must be ...,https://www.cnbc.com/2023/11/09/ceo-on-why-nat...
17,Why one Tesla manager thinks used cars are 'ab...,https://www.cnbc.com/2023/11/02/one-tesla-mana...
18,Volvo Cars CEO strikes cautious tone on solid-...,https://www.cnbc.com/2023/10/27/volvo-cars-ceo...
19,Southeast Asia is on the cusp of a 'supercharg...,https://www.cnbc.com/2023/11/29/southeast-asia...
20,Cambodia's deputy prime minister: BRI has help...,https://www.cnbc.com/video/2023/11/27/cambodia...
21,Southeast Asia's first luxury hotel made from ...,https://www.cnbc.com/2023/11/27/a-new-luxury-h...
22,"Ahead of Indonesia’s elections, critics slam J...",https://www.cnbc.com/2023/11/20/indonesia-pres...
23,Laos is spiraling toward a debt crisis as Chin...,https://www.cnbc.com/2023/11/09/laos-is-spiral...
24,Pack your jerseys. The era of 'sports tourism'...,https://www.cnbc.com/2023/11/27/pack-your-jers...
25,See the photos that made National Geographic's...,https://www.cnbc.com/2023/11/23/best-photograp...
26,The ultimate work perk? This company provides ...,https://www.cnbc.com/2023/11/23/remote-company...
27,Fear is driving Chinese travelers away from tw...,https://www.cnbc.com/2023/11/20/fear-driving-c...
28,A UNESCO World Heritage site with thousands of...,https://www.cnbc.com/2023/11/12/a-unesco-world...
29,The No. 1 'desirable' trait CEOs look for in e...,https://www.cnbc.com/2023/12/01/the-no-1-desir...
30,"Your network is the key to your career, says T...",https://www.cnbc.com/video/2023/12/01/your-net...
31,Parenting tips from a dad who’s fostered 36 ki...,https://www.cnbc.com/2023/12/01/parenting-tips...
32,6 tips to really disconnect from work for the ...,https://www.cnbc.com/2023/11/30/6-tips-to-real...
33,"Study: Anxious dads raise smarter, more well-b...",https://www.cnbc.com/2023/11/30/study-anxious-...

In [62]:
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
articles_container = soup.find("div",class_="sc-orwwe2-3 jOMrrY")

titles = []
authors = []
dates = []
urls = []

for article in articles_container.find_all("li"):
  title = article.find("h2")
  titles.append(title)
  
  author = article.find("span", class_="sc-1w3fpd7-0 dnCnAO")
  authors.append(author)

  date = article.find("span",class_="sc-1thf9ly-2 dvggWt")
  dates.append(date)
  
  link = article.find("a")["href"]
  urls.append(link)

data = {
  "Paper Title": titles,
  "Authors": authors,
  "Published Date": dates,
  "Paper URL": urls
}
df = pd.DataFrame(data)

(df)

,Paper Title,Authors,Published Date,Paper URL
0,[Reward is enough],"[David Silver, Satinder Singh, Doina Precup, R...",[[October 2021]],https://www.sciencedirect.com/science/article/...
1,[Explanation in artificial intelligence: Insig...,[Tim Miller ],[[February 2019]],https://www.sciencedirect.com/science/article/...
2,[Creativity and artificial intelligence],[Margaret A. Boden ],[[August 1998]],https://www.sciencedirect.com/science/article/...
3,[Conflict-based search for optimal multi-agent...,"[Guni Sharon, Roni Stern, Ariel Felner, Nathan...",[[February 2015]],https://www.sciencedirect.com/science/article/...
4,[Knowledge graphs as tools for explainable mac...,"[Ilaria Tiddi, Stefan Schlobach ]",[[January 2022]],https://www.sciencedirect.com/science/article/...
5,[Law and logic: A review from an argumentation...,"[Henry Prakken, Giovanni Sartor ]",[[October 2015]],https://www.sciencedirect.com/science/article/...
6,[Between MDPs and semi-MDPs: A framework for t...,"[Richard S. Sutton, Doina Precup, Satinder Sin...",[[August 1999]],https://www.sciencedirect.com/science/article/...
7,[Explaining individual predictions when featur...,"[Kjersti Aas, Martin Jullum, Anders Løland ]",[[September 2021]],https://www.sciencedirect.com/science/article/...
8,[Multiple object tracking: A literature review],"[Wenhan Luo, Junliang Xing and 4 more]",[[April 2021]],https://www.sciencedirect.com/science/article/...
9,[A survey of inverse reinforcement learning: C...,"[Saurabh Arora, Prashant Doshi ]",[[August 2021]],https://www.sciencedirect.com/science/article/...
10,[Evaluating XAI: A comparison of rule-based an...,"[Jasper van der Waa, Elisabeth Nieuwburg, Anit...",[[February 2021]],https://www.sciencedirect.com/science/article/...
11,[Explainable AI tools for legal reasoning abou...,"[Joe Collenette, Katie Atkinson, Trevor Bench-...",[[April 2023]],https://www.sciencedirect.com/science/article/...
12,[Hard choices in artificial intelligence],"[Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mi...",[[November 2021]],https://www.sciencedirect.com/science/article/...
13,[Assessing the communication gap between AI mo...,"[Oskar Wysocki, Jessica Katharine Davies and 5...",[[March 2023]],https://www.sciencedirect.com/science/article/...
14,[Explaining black-box classifiers using post-h...,"[Eoin M. Kenny, Courtney Ford, Molly Quinn, Ma...",[[May 2021]],https://www.sciencedirect.com/science/article/...
15,[The Hanabi challenge: A new frontier for AI r...,"[Nolan Bard, Jakob N. Foerster and 13 more]",[[March 2020]],https://www.sciencedirect.com/science/article/...
16,[Wrappers for feature subset selection],"[Ron Kohavi, George H. John ]",[[December 1997]],https://www.sciencedirect.com/science/article/...
17,[Artificial cognition for social human–robot i...,"[Séverin Lemaignan, Mathieu Warnier and 3 more]",[[June 2017]],https://www.sciencedirect.com/science/article/...
18,[A review of possible effects of cognitive bia...,"[Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkra...",[[June 2021]],https://www.sciencedirect.com/science/article/...
19,[The multifaceted impact of Ada Lovelace in th...,[Luigia Carlucci Aiello ],[[June 2016]],https://www.sciencedirect.com/science/article/...
20,[Robot ethics: Mapping the issues for a mechan...,"[Patrick Lin, Keith Abney, George Bekey ]",[[April 2011]],https://www.sciencedirect.com/science/article/...
21,[Reward (Mis)design for autonomous driving],"[W. Bradley Knox, Alessandro Allievi and 3 more]",[[March 2023]],https://www.sciencedirect.com/science/article/...
22,[Planning and acting in partially observable s...,"[Leslie Pack Kaelbling, Michael L. Littman, An...",[[May 1998]],https://www.sciencedirect.com/science/article/...
23,[What do we want from Explainable Artificial I...,"[Markus Langer, Daniel Oster and 6 more]",[[July 2021]],https://www.sciencedirect.com/science/article/...

In [65]:
#Q7
url = "https://www.dineout.co.in/delhi-restaurants/buffet-special"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

restaurant_names = soup.find_all("div",class_="restnt-info cursor")
cuisines = soup.find_all('div', class_='restnt-loc ellipsis')
locations = soup.find_all('div', class_='restnt-loc ellipsis')
ratings = soup.find_all('div', class_="restnt-rating rating-4")
image_urls = soup.find_all('img',class_="no-img")

restaurant_list = []
cuisine_list = []
location_list = []
rating_list = []
image_url_list = []

for name in restaurant_names:
  restaurant_list.append(name.text.strip())

for cuisine in cuisines:
  cuisine_list.append(cuisine.text.strip())

for location in locations:
  location_list.append(location.text.strip())

for rating in ratings:
  rating_list.append(rating.text.strip())

for image in image_urls:
  image_url_list.append(image['data-src'])

data = {
  'Restaurant Name': restaurant_list,
  'Cuisine': cuisine_list,
  'Location': location_list,
  'Ratings': rating_list,
  'Image URL': image_url_list
}
df=pd.DataFrame(data)
df

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
5,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
6,"The Barbeque TimesM2K Corporate Park,Sector 51...","M2K Corporate Park,Sector 51, Gurgaon","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...